@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: "Golos Text", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: #f0f2f5;
  border-bottom: 1px solid #dce2eb;
}
.header nav {
  display: flex;
  justify-content: space-between;
}
.header nav .navLink {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header nav .navLink ul {
  display: flex;
  gap: 20px;
}
.header nav .navLink ul .navItem {
  list-style: none;
  font-size: 15px;
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.4s ease;
}
.header nav .navLink ul .navItem:hover {
  border-bottom: 2px solid #29d65a;
}
.header nav .nav-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header nav .nav-price .bank-price {
  background-color: #dce2eb;
  padding: 5px 20px;
  border-radius: 5px;
}
.header nav .nav-price .bank-price .price {
  display: flex;
  gap: 10px;
}
.header nav .nav-price .bank-price .price .price1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header nav .nav-price .bank-price .price .price1 p {
  font-size: 9px;
  color: #7a7a7a;
  margin-bottom: 3px;
}
.header nav .nav-price .bank-price .price .price1 h5 {
  font-weight: 500;
}
.header nav .nav-price .navBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  transition: all 0.4s ease;
}
.header nav .nav-price .navBtn:hover {
  background-color: #29d65a;
  color: #fff;
  cursor: pointer;
}

.parentCard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.parentCard .card {
  flex: 1;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.parentCard .card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.parentCard .card .cardText {
  flex-grow: 1;
  padding: 0 18px 18px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.parentCard .card .cardText h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.parentCard .card .cardText p {
  font-size: 16px;
  color: #7a7a7a;
  margin-bottom: 20px;
}
.parentCard .card .cardText .navBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #f0f2f5;
  font-size: 16px;
  transition: all 0.4s ease;
  margin-top: auto;
}
.parentCard .card .cardText .navBtn:hover {
  background-color: #29d65a;
  color: #f0f2f5;
  cursor: pointer;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;
  height: 700px;
  margin-top: 20px;
}
.Grid .online {
  grid-column: span 5/span 5;
  grid-row: span 3/span 3;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 30px;
  border-radius: 20px;
}
.Grid .online img {
  width: 410px;
  position: relative;
  right: -190px;
  top: -100px;
}
.Grid .visa {
  grid-column: span 3/span 3;
  grid-row: span 3/span 3;
  grid-column-start: 6;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 30px;
  border-radius: 20px;
}
.Grid .visa img {
  width: 320px;
}
.Grid .ipoteka {
  grid-column: span 3/span 3;
  grid-row: span 3/span 3;
  grid-column-start: 9;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 30px;
  border-radius: 20px;
}
.Grid .ipoteka img {
  width: 320px;
  position: relative;
  top: 20px;
}
.Grid .avtokredit {
  grid-column: span 5/span 5;
  grid-row: span 3/span 3;
  grid-column-start: 7;
  grid-row-start: 4;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 30px;
  border-radius: 20px;
}
.Grid .avtokredit img {
  width: 420px;
  position: relative;
  top: -95px;
  right: -200px;
}
.Grid .kredit {
  grid-column: span 3/span 3;
  grid-row: span 3/span 3;
  grid-column-start: 1;
  grid-row-start: 4;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 30px;
  border-radius: 20px;
}
.Grid .kredit img {
  width: 300px;
  position: relative;
  top: 10px;
  right: -30px;
}
.Grid .omonat {
  grid-column: span 3/span 3;
  grid-row: span 3/span 3;
  grid-column-start: 4;
  grid-row-start: 4;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 30px;
  border-radius: 20px;
}
.Grid .omonat img {
  width: 300px;
  position: relative;
  top: 10px;
  right: -30px;
}
.Grid .gridText h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.Grid .gridText p {
  font-size: 17px;
  color: #7a7a7a;
}

.Aboutsection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
  height: 350px;
  margin-top: 30px;
}
.Aboutsection .abouts {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  background-color: red;
  background-image: url("https://hamkorbank.uz/assets/images-cache/about_bank_card_xl.27cebd81.webP");
  background-position: center;
  background-size: 100%;
  border-radius: 20px;
  padding: 30px;
}
.Aboutsection .abouts .navBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  transition: all 0.4s ease;
}
.Aboutsection .abouts .navBtn:hover {
  background-color: #29d65a;
  color: #fff;
  cursor: pointer;
}
.Aboutsection .abouts .tilte {
  width: 330px;
}
.Aboutsection .abouts .tilte h1 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 27px;
}
.Aboutsection .abouts .tilte p {
  width: 320px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 120px;
}
.Aboutsection .cards1 {
  grid-column-start: 3;
  background-color: #dce2eb;
  border-radius: 20px;
  padding: 30px;
}
.Aboutsection .cards2 {
  grid-column-start: 3;
  grid-row-start: 2;
  background-color: #dce2eb;
  border-radius: 20px;
  padding: 30px;
}
.Aboutsection .cards3 {
  grid-column-start: 4;
  grid-row-start: 1;
  background-color: #dce2eb;
  border-radius: 20px;
  padding: 30px;
}
.Aboutsection .cards4 {
  grid-column-start: 4;
  grid-row-start: 2;
  background-color: #dce2eb;
  border-radius: 20px;
  padding: 30px;
}
.Aboutsection .text-item {
  width: 200px;
}
.Aboutsection .text-item h3 {
  font-size: 23px;
  font-weight: 500;
}
.Aboutsection .text-item p {
  font-size: 18px;
  margin-top: 5px;
  color: #7a7a7a;
}

.mobile-ilove {
  background-image: url("https://hamkorbank.uz/assets/images-cache/mobile-app/mobile_app_phys_xl.09ca5e41.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 350px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px 40px 0 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.mobile-ilove .mobilePhone {
  width: 540px;
  object-fit: cover;
  position: relative;
  right: 90px;
  top: 20px;
}
.mobile-ilove .ilova-text h2 {
  font-weight: 500;
  font-size: 36px;
  margin: 10px 0 30px 0;
}
.mobile-ilove .ilova-text ul {
  margin-bottom: 70px;
}
.mobile-ilove .ilova-text ul li {
  margin: 5px 0;
  font-size: 17px;
}
.mobile-ilove .ilova-text ul li::marker {
  color: #7a7a7a;
}
.mobile-ilove .ilova-text .QRCode {
  display: flex;
  gap: 10px;
}
.mobile-ilove .ilova-text .QRCode .QR {
  background-color: #fff;
  padding: 7px;
  width: 80px;
  object-fit: cover;
  border-radius: 10px;
}
.mobile-ilove .ilova-text .QRCode .QRcode_text {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0;
}
.mobile-ilove .ilova-text .QRCode .QRcode_text h5 {
  font-weight: 400;
  font-size: 17px;
}
.mobile-ilove .ilova-text .QRCode .QRcode_text p {
  font-size: 13px;
}

/*# sourceMappingURL=index.css.map */
