@use "./../../main/mixins.scss";
@use "./../../main/variable.scss" as *;
.Aboutsection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
  // height: 300px;
  margin-top: 20px;

  .abouts {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    background-image: url("https://hamkorbank.uz/assets/images-cache/about_bank_card_xl.27cebd81.webP");
    background-position: center;
    background-size: 100%;
    border-radius: 20px;
    padding: 30px;
    .navBtn {
      @include mixins.button(10px 20px, $white);
    }
    .tilte {
      width: 330px;
      h1 {
        color: $white;
        font-weight: 500;
        margin-bottom: 30px;
        font-size: 27px;
      }
      p {
        width: 320px;
        font-size: 18px;
        color: $white;
        margin-bottom: 120px;
      }
    }
  }
  .cards1,
  .cards2,
  .cards3,
  .cards4 {
    background-color: $white;
    border-radius: 20px;
    padding: 30px;
  }
  .cards1 {
    grid-column-start: 3;
  }

  .cards2 {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .cards3 {
    grid-column-start: 4;
    grid-row-start: 1;
  }

  .cards4 {
    grid-column-start: 4;
    grid-row-start: 2;
  }
  .text-item {
    width: 200px;
    h3 {
      font-size: 23px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      margin-top: 5px;
      color: $poragraph-color;
    }
  }
}

@media (max-width: 768px) {
  .Aboutsection {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(
      11,
      auto
    ); // balandlikni kontentga qarab belgilanadi
    gap: 8px;
    height: auto;

    .abouts {
      grid-column: span 2 / span 2;
      grid-row: span 5 / span 5;
      grid-row-start: 1;
      padding: 20px;
      background-size: cover; // 100% o‘rniga moslashadi
      background-position: bottom center;
      background-repeat: no-repeat;
      height: 360px;
      .tilte {
        width: 150px;
        h1 {
          font-size: 20px;
          font-weight: 400;
        }
        p{
          font-size: 13px;
          width: 200px;
          margin: 0;
        }
      }
    }

    .cards1,
    .cards2,
    .cards3,
    .cards4 {
      padding: 15px; // ichki bo‘shliqni kamaytiramiz
      height: 150px;
      display: flex;
      justify-content: end;
      align-items: end;
    }

    .cards1 {
      grid-column: span 1 / span 1;
      grid-row: span 3 / span 3;
      grid-column-start: 1;
      grid-row-start: 6;
    }

    .cards2 {
      grid-column: span 1 / span 1;
      grid-row: span 3 / span 3;
      grid-column-start: 2;
      grid-row-start: 6;
    }

    .cards3 {
      grid-column: span 1 / span 1;
      grid-row: span 3 / span 3;
      grid-column-start: 1;
      grid-row-start: 9;
    }

    .cards4 {
      grid-column: span 1 / span 1;
      grid-row: span 3 / span 3;
      grid-column-start: 2;
      grid-row-start: 9;
    }

    .text-item {
      width: 100%; // 200px emas, containerga moslashadi
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
