@use "./../../main/mixins.scss";
@use "./../../main/variable.scss" as *;

.parentCard {
  display: flex;
  justify-content: space-between;
  gap: 20px; // kartalar oralig'ida bo'shliq
  margin-top: 20px;

  .card {
    flex: 1; // har bir kartani yoyish uchun
    height: auto;
    background-color: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .cardText {
      flex-grow: 1;
      padding: 0 18px 18px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: $poragraph-color;
        margin-bottom: 20px
      }

      .navBtn {
        @include mixins.button(10px 20px, $body-bg-color);
        margin-top: auto;
      }
    }
  }
}
