@use "./../../main/mixins.scss";
@use "./../../main/variable.scss" as *;

.parentCard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;

  .card {
    flex: 1;
    height: auto;
    background-color: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .cardText {
      flex-grow: 1;
      padding: 0 18px 18px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: $poragraph-color;
        margin-bottom: 20px;
      }

      .navBtn {
        @include mixins.button(10px 20px, $body-bg-color);
      }
    }
  }

  // // Media query for 768px and below
  // @media (max-width: 768px) {
  //   flex-wrap: wrap;
  //   .card {
  //     flex: 0 0 calc(33.333% - 14px); // 3 cards per row with gap
  //     margin-bottom: 20px;

  //     .cardText {
  //       h3 {
  //         font-size: 18px; // Slightly smaller heading
  //       }

  //       p {
  //         font-size: 14px; // Slightly smaller text
  //         margin-bottom: 15px;
  //       }

  //       .navBtn {
  //         padding: 8px 16px; // Smaller button
  //         font-size: 14px;
  //       }
  //     }
  //   }
  // }

  // // Optional: Further adjustment for very small screens
  // @media (max-width: 480px) {
  //   .card {
  //     flex: 0 0 calc(50% - 10px); // 2 cards per row on very small screens
  //   }
  // }
}
