
.parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    height: 750px;
    margin-top: 20px;
}

.div17 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    background-color: blue;
}

.div18 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    background-color: blue;
}

.div19 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 9;
    background-color: blue;
}

.div20 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 4;
    background-color: blue;
}

.div21 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    background-color: blue;
}

.div22 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
    background-color: blue;
}