@use "./../../main/mixins.scss";
@use "./../../main/variable.scss" as *;

.Grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;
  height: 700px;
  margin-top: 20px;

  .online {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    img {
      width: 410px;
      position: relative;
      right: -190px;
      top: -100px;
    }
  }

  .visa {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    img {
      width: 320px;
    }
  }

  .ipoteka {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 9;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    img {
      width: 320px;
      position: relative;
      top: 20px;
    }
  }

  .avtokredit {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 4;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    img {
      width: 420px;
      position: relative;
      top: -95px;
      right: -200px;
    }
  }

  .kredit {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    img {
      width: 300px;
      position: relative;
      top: 10px;
      right: -30px;
    }
  }

  .omonat {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    img {
      width: 300px;
      position: relative;
      top: 10px;
      right: -30px;
    }
  }
  .gridText {
    h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    p {
      font-size: 17px;
      color: $poragraph-color;
    }
  }

}
