@use "./../../main/mixins.scss";
@use "./../../main/variable.scss" as *;

.Grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;
  height: 700px;
  margin-top: 20px;

  // CARD umumiy stil
  .online,
  .visa,
  .ipoteka,
  .avtokredit,
  .kredit,
  .omonat {
    background-color: #fff;
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    .gridientText {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-between;
      .gridText {
        h3 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        p {
          font-size: 17px;
          color: $poragraph-color;
        }
      }
    }

    img {
      width: 100%;
      max-width: 420px;
    }

    .gridBtn {
      @include mixins.button(10px 20px, $body-bg-color);
      position: relative;
      top: 190px;
      margin-top: auto;
      z-index: 100;
    }
  }

  .online {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;

    img {
      position: relative;
      right: -190px;
      top: -100px;
    }
  }

  .visa {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 6;

    img {
      width: 320px;
      position: relative;
      right: -30px;
    }
  }

  .ipoteka {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 9;

    img {
      width: 320px;
      position: relative;
      right: -20px;
      top: 3px;
    }
  }

  .avtokredit {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 4;

    img {
      width: 420px;
      position: relative;
      top: -95px;
      right: -200px;
    }
  }

  .kredit {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;

    img {
      width: 300px;
      position: relative;
      top: 10px;
      right: -30px;
    }
  }

  .omonat {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;

    img {
      width: 300px;
      position: relative;
      right: -30px;
    }
  }
}

@media (max-width: 768px) {
  .Grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: auto;

    .online,
    .kredit,
    .visa,
    .avtokredit,
    .omonat,
    .ipoteka {
      height: 200px;
      padding: 15px;
      border-radius: 10px;
      .gridientText {
        .gridText {
          width: 170px;
          h3 {
            font-size: 17px;
            margin-bottom: 8px;
          }

          p {
            font-size: 13px;
            color: $poragraph-color;
          }
        }
      }
    }

    .online {
      grid-column: span 4 / span 4;
      grid-row: span 3 / span 3;
      grid-row-start: 1;
      img{
        position: relative;
        right: -130px;
        top: -90px;
        width: 230px;
      }
    }

    .kredit {
      grid-column: span 2 / span 2;
      grid-row: span 3 / span 3;
      grid-column-start: 1;
      grid-row-start: 4;
      img{
        width: 140px;
      }
    }

    .visa {
      grid-column: span 2 / span 2;
      grid-row: span 3 / span 3;
      grid-column-start: 3;
      grid-row-start: 4;
      img{
        width: 140px;
      }
    }

    .avtokredit {
      grid-column: span 4 / span 4;
      grid-row: span 3 / span 3;
      grid-row-start: 7;
      height: 200px;
      img{
       position: relative;
        right: -130px;
        top: -90px;
        width: 230px;
      }
    }

    .omonat {
      grid-column: span 2 / span 2;
      grid-row: span 3 / span 3;
      grid-column-start: 1;
      grid-row-start: 10;
      img{
        width: 140px;
        position: relative;
        right: -20px;
        top: 10px;
      }
    }

    .ipoteka {
      grid-column: span 2 / span 2;
      grid-row: span 3 / span 3;
      grid-column-start: 3;
      grid-row-start: 10;
      img{
         width: 140px;
        position: relative;
        right: -20px;
        top: 10px;
      }
    }
  }
}
