@use "./../../main/mixins.scss";
@use "./../../main/variable.scss" as *;
.header {
  background-color: $body-bg-color;
  border-bottom: 1px solid $navTop-bg-color;

  nav {
    display: flex;
    justify-content: space-between;
    .navLink {
      display: flex;
      align-items: center;
      gap: 30px;
      img {
      }
      ul {
        display: flex;
        gap: 20px;
        .navItem {
          list-style: none;
          font-size: 15px;
          cursor: pointer;
          padding: 20px 0;
          border-bottom: 2px solid #00000000;
          transition: all 0.4s ease;

          &:hover {
            border-bottom: 2px solid $button-bg-color;
          }
        }
      }
    }
    .nav-price {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .bank-price {
        background-color: $navTop-bg-color;
        padding: 5px 20px;
        border-radius: 5px;
        .price {
          display: flex;
          gap: 10px;
          .price1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              font-size: 9px;
              color: $poragraph-color;
              margin-bottom: 3px;
            }
            h5 {
              font-weight: 500
            }
          }
          .price2 {
          }
        }
      }
      .navBtn {
        @include mixins.button(10px 20px);
      }
    }
  }
}
