@use './variable.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $body-bg-color;
    font-family: "Golos Text", sans-serif;
}
.container{
  max-width: 1400px;
  margin: 0 auto;

}
@media screen and (max-width: 768px) {
  .container{
  max-width: 370px;
  margin: 0 auto;

}
}